.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #c3cfdb;
    padding: 2vh 0;

    .up {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100vw;
      .list_box {
        width: 80%;
        display: flex;
        align-items: start;
        justify-content: space-around;
        gap: 1vw;
        .list {
          height: 100%;
          font-size: 1.3vw;
          display: flex;
          align-items: center;
          flex-direction: column;
          color: white;

          .icon_box {
            font-size: 3vw;
          }

          div:first-child {
            margin-bottom: 2vw;
            font-size: 1.8vw;
          }
        }
      }
      .pay {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
      }
    }
    .down {
      width: 100vw;
      text-align: center;
   

      .link_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding: 1vw 0;
        .link{
          font-size: 1.3vw;
        }
        
      }
      .info_box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        flex-direction: column;
        padding: 2vw 0;
        .info{
          font-size: 1.3vw;
        }

      }
    }
  }