.title_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    width: 100%;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      color: #898888;
      font-weight: bold;
      font-size: calc(1.5vw + 0.5vh);
    }
  }
  .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
 
      img{ 
        width: 100%;
        height: 100%;
        object-fit: contain;
       }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: calc(25vw + 1vh);
          height: calc(25vw + 1vh);
          margin: 1vw 0;

          .img {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;

            img {
              width: 80%;
              height: 100%;
              object-fit: cover;
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 5vw;
              transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

              &.hidden:hover {
                opacity: 0;
              }
            }

            .like {
              position: absolute;
              bottom: 1vw;
              right: 1vw;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1vw;
              font-size: calc(1.5vw + 0.3vh);
              color: #c3cfdb;

              .icon {
                padding: 0.5vw;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
              }
            }
          }
          .description {
            .text {
              font-size: calc(1.5vw + 0.3vh);
              text-align: center;
            }
            .price {
              color: #c3cfdb;
              text-align: center;
              font-size: calc(1.5vw + 0.3vh);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
